<ul class="nav nav-tabs" role="tablist">
    {{#each tabs}}
        <li role="presentation" data-for="{{this.id}}"{{#if this.active}} class="active"{{/if}}><a href="#{{this.id}}" aria-controls="{{this.id}}" role="tab" data-toggle="tab">{{this.label}}</a></li>
    {{/each}}
</ul>
<div class="tab-content">
    {{#each tabs}}
        <div role="tabpanel" id="{{this.id}}" class="tab-pane{{#if this.active}} active{{/if}}">{{#if this.content}}{{{this.content}}}{{/if}}</div>
    {{/each}}
</div>
