<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Select A Chart
    <span class="caret"></span>
</button>
<button class="btn btn-default" type="button" id="showDocButton"  aria-expanded="true">
    Show Documentation
</button>

<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    {{#each items}}
        {{#if this.title}}
            <li role="presentation" class="dropdown-header">{{title}}</li>
        {{else}}
           <li role="presentation"><a class="menu_item" role="menuitem" tabindex="-1" href="#" {{#if this.width}}data-width="{{{this.width}}}"{{/if}} {{#if this.height}}data-height="{{{this.height}}}"{{/if}} data-value="{{this.path}}" data-example-url="{{this.sample_url}}">{{this.name}}</a></li>
        {{/if}}
    {{/each}}
</ul>
