{{#each panels}}
    <div class="panel panel-default doc-item clearfix">
        {{#if this.function}}
            <div class="panel-heading">
                <span style=""><a href="javascript:void(0);" onClick="javascript:toggleSection(this);"><b>{{{this.function}}}</b></a></span>
                <span style="float:right;padding-left:10px;"><a href="javascript:void(0);" onClick="javascript:toggleSection(this);" class="chevron icon-chevron-down"></a></span>
                <span style="float:right"><a href="javascript:void(0);" onClick="javascript:toggleSection(this);"><i>{{{this.functionLocation}}}</i></a></span>

            </div>
        {{/if}}
        {{#if this.body}}<div class="panel-body">{{{this.body}}} {{{this.doc-ext}}}</div>{{/if}}
        {{#if this.footer}}<div class="panel-footer">{{{this.footer}}}</div>{{/if}}
    </div>
{{/each}}
